[submodule "backend/service-api"]
path = backend/service-api
url = git@github.com:glovel-app/service-api.git
branch = master

[submodule "frontend/web-landing-page"]
path = frontend/web-landing-page
url = git@github.com:glovel-app/web-landing-page.git
branch = master

[submodule "frontend/web-admin"]
path = frontend/web-admin
url = git@github.com:glovel-app/web-admin.git
branch = master

[submodule "apps/app-user"]
path = apps/app-user
url = git@github.com:glovel-app/app-user.git
branch = master

[submodule "apps/app-guide"]
path = apps/app-guide
url = git@github.com:glovel-app/app-guide.git
branch = master

[submodule "devops"]
path = devops
url = git@github.com:glovel-app/devops.git
branch = master
